/* Rules modal */
.rules-container {
    width: 930px;
    display: flex;
    justify-content: center;
}

.rules-btn {
    font-family: inherit;
    background: var(--light-grey);
    outline: none;
    border: 2px solid var(--black);
    border-radius: 6px;
    color: var(--light-text);
    padding: 3px 20px;
    font-size: 25px;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.rules-btn:hover {
    border: 2px solid var(--yellow-text);
    color: var(--yellow-text);
    background: none;
}

.close-btn {
    font-size: 20px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    place-items: center;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

.modal-container {
    background: #fff;
    color: var(--dark-text);
    margin: 12% auto;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.modal-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 15px 10px;
    z-index: 1;
}

.modal-heading {
    font-size: 1.5rem;
    color: var(--dark-text);
}

.modal-showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100px;
}

.showcase {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #fff;
}

.showcase h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.showcase::before, .showcase::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}